/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    /*max-width: 280px;*/
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

#POE_wiki_style a {
    background: black;
    color: #cd740f;
    font-weight: 600;
}

#POE_wiki_style a:hover {
    text-decoration: underline;
}

#POE_wiki_style li {
    background: black;
}

#POE_wiki_style ul {
    background: black;
}

#POE_wiki_style h2 {
    color: #dfcc99;
}

#POE_wiki_style p {
    color: #a38d6d;
}

#POE_wiki_style td {
    padding: 10px;
}

#POE_wiki_style input[type=text] {
    background: black;
    color: #D77524;
    border: 2px solid #a38d6d;
}

#POE_wiki_style input[type=text]:focus {
    background: black;
    color: #D77524;
    border: 3px solid #dfcc99;
    outline: none;
}

#POE_wiki_style input[type=text]:hover {
    background: black;
    color: #D77524;
    border: 3px solid #dfcc99;
    outline: none;
}

#POE_wiki_style input[type=submit] {
    background: #66452c;
    color: #cd740f;
    border: solid #66452c;
}

#POE_wiki_style input[type=submit]:focus {
    background: #66452c;
    color: #cd740f;
    border: solid #66452c;
    outline: none;
}

#POE_wiki_style input[type=submit]:hover {
    background: #66452c;
    color: #cd740f;
    border: solid #66452c;
    outline: none;
}

#Machine_learning_style textarea {
    width: 100%;
    max-width: none;
}